<script type="text/javascript">
	pageTracker._addTrans(
		"${order/getOrderNumber}",
		"${order/getShop/getLabel}",
		<tal:block tal:condition="includeTaxes"> "${order/getLinesAmountWithTax}",</tal:block>
		<tal:block tal:condition="not: includeTaxes"> "${order/getLinesAmountWithoutTax}",</tal:block>
		"${php: order.getLinesAmountWithTax() - order.getLinesAmountWithoutTax()}",
		"${order/getShippingFeesWithTax}",
		"${order/getBillingAddress/getCity}",
		"${order/getBillingAddress/getProvince}",
		"${order/getBillingAddress/getCountry/getLabel}"
	);
	<tal:block tal:repeat="item products">
	pageTracker._addItem(
		"${order/getOrderNumber}",
		"${item/ref}",
		"${item/productName}",
		"${item/category}",
		"${item/price}",
		"${item/quantity}"
	);
	</tal:block>
	pageTracker._trackTrans();
</script>